body{
    margin:0;
    font-family:Arial;
    background:#eef6ff;
}

header{
    background:#2d7ff9;
    color:white;
    text-align:center;
    padding:40px;
}

.container{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    margin-top:50px;
}

.card{
    background:white;
    text-decoration:none;
    color:black;
    padding:40px;
    border-radius:15px;
    text-align:center;
    box-shadow:0 5px 15px gray;
    transition:0.3s;
}

.card:hover{
    transform:scale(1.05);
    background:#dfefff;
}

.content{
    width:80%;
    margin:auto;
    background:white;
    padding:40px;
    margin-top:30px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

th{
    background:#2d7ff9;
    color:white;
}

th,td{
    border:1px solid #ccc;
    padding:12px;
    text-align:center;
}

h2{
    color:#2d7ff9;
    margin-top:35px;
}

.content a{
    color:#2d7ff9;
    text-decoration:none;
}

.content a:hover{
    text-decoration:underline;
}

.card:hover{
    transform:translateY(-10px);
}

body{
    animation:fade 0.8s;
}

@keyframes fade{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

